*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
font-family: 'Nunito',sans-serif;
font-size: 10px;
box-sizing: border-box;
}
a{
    text-decoration: none;
}
ul{
    list-style: none;
}
p{
font-size: 1.6rem;    
}
img{
    width:100%;
    max-width: 100%;
    height: auto;
    
      
}
section{
    padding: 5rem 0;
}
body{
    background-color: cornflowerblue;
    
}
header{
    width: 100%;
    height: 5rem;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}
.container{
width:500;
max-width: 98rem;
margin: 0 auto;
padding: 0 1.5rem;

}
nav{
    width: 70%;
    display:flex;
    align-items:center;
    justify-content: space-between;
    padding: 1rem 0;
    border-bottom: 1px solid rgba(255,255,255,.2);
    
}
.nav-brand{
      width: 2rem;
}




.nav-list{
    width: 25rem;
    height: 100vh;
    background-color: #d7d4ed;
   position: fixed;
    top:0;
    right:-26rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 1500;
    transition: all 650ms ease-in-out;
    

}
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0px;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }
  
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  .sidenav a:hover {
    color: #f1f1f1;
  }
  
  .sidenav .closebtn {
    position: absolute;
    top:0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }

  .hero{
width:100%;
height: 80vh;
background: linear-gradient(135deg,rgba(49,24,131,0.9)0% ,rgba(72,56,149,0.8)100%), url("cl.jpg")
center no-repeat;

background-size: cover;
position: relative;

  }
  .hero::before{
    content: "";
    position: absolute;
    left: 0;
    bottom: -3px;
    top:100%;
    width: 100%;
    height: 3000px;
    background: url("wave.jpg") center no-repeat;
    background-size: cover;
 
   }

  
.main-massage{
width: 100%;
max-width: 50rem;
color: #fafafa;
text-transform: uppercase;
transform: translateY(20%);

}
.main-massage h3{
    font-size: 1.6rem;
}

  .main-massage h1{
      font-family: 'Aldrich',sans-serif;
      font-size: 4rem;
      margin: 1rem 0;
  }

  .main-massage p{
      text-transform: lowercase;
  }

  .btn{
      background-color: #eb648c;
      border-radius: 2rem;
      color:#fafafa;
      display: inline-block;
      margin-top: 2rem;
      padding: 1rem 2.5rem;
      text-transform: uppercase;
      transition: background-color 650ms;
  }

  .btn:hover{
      background-color: #ce587b;
  }

  .experience-outdoors{
    padding: 0;
}
.title-heading{
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 5rem;
    color: rgba(0,0,0,.7);
    position: relative;
    bottom: 20px;
}
.title-heading h3{
    font-size: 2rem;
    
}
.title-heading h1{
    font-family: 'Aldrich' , sans-serif;
    font-size: 2rem;
    margin: .5rem 0 1rem;
    
}
.title-heading p{
    text-transform: lowercase;
}

.activities-grid{
    display:grid;
    grid-template-columns: repeat(auto-fit,minmax(25rem,1fr));
    grid-gap: 2.5rem;
  }
  .activities-grid-item{
    color: seashell;
      height: 40rem;
      padding: 5rem;
      position: relative;
      display: flex;
      flex-direction:column;
      justify-content: center;
      cursor: pointer;
      z-index: 1;
  }
.activities-grid-item::before{
    content: "";
    
    position: absolute;
    top: 0;
    left: 0px;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(135deg, rgba(49,24,131,0.9) 0%,rgba(72,56,149,0.8)100%);
    z-index: -1;
    

}

.star-gazing{
    position: relative;
    left: 500px;
    top: 200px;
    background-image: url("star.jpg")  ;
    background-size: cover;
    height: 400px;
    width: 400px;
  
}
.hiking {
    background-image: url("hiking.jpg")  ;
    background-size: cover;
    height: 400px;
    width: 400px;
    position: relative;
    left: 70px;
    bottom: 225px;
}
.camping{
    background-image: url("cam.jpg")  ;
    background-size: cover;
    height: 400px;
    width: 400px;
    position: relative;
    right: 360px;
    bottom: 650px;
}
.activities-grid-item i{
    font-size: 4rem;
    color:#eb648c;
}
.activities-grid-item h1{
    font-family: 'Aldrich',sans-serif;
    font-size: 1.7rem;
    text-transform: uppercase;
    margin: 2rem 0;
}


.testimonials{
    width: 100%;
    height: 100%;
    background:linear-gradient(135deg, rgba(49,24,131,0.9) 0%,rgba(72,56,149,0.8)100%) 
    , url("img.jpg")  center no-repeat fixed; 
    background-size: cover;
    position: relative;
    bottom: 550px;
    left: 540px;
    
    width: 460px;
    height: 500px;

}
.testimonials::before{
    content: "";
    position:absolute;
    top: -3px;
    left: 0;
    width: 100%;
    height: 4.7rem;
    background: url("wave.jpg") center no-repeat;
    background-size: cover;
    
    
}

.testimonial{
    width: 100%;
    color: #fafafa;
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}
 .testimonial-text-box{
     padding: 0 1.5rem;
     margin-bottom: 2rem;
     position: relative;
 }
 .testimonial-text-box i{
     position: absolute;
     top:-8rem;
     left: 50%;
     transform: translateX(-50%);
     font-size: 8rem;
     color: #eb648c;
     opacity: .5;
     z-index: -1;
    }
    .testimonial-customer img{
        width: 10rem;
        height: 10rem;
        border-radius: 100%;
        border: 3px solid #eb648c;
        
    }

    .adventure-grid{
        display: grid;
        grid-template-columns: repeat(auto-fit,minmax(25rem,1fr));
        grid-gap: 2.5rem;
        margin-bottom: 2rem;
        
    }
    .adventure-grid-item p {
        color:rgba(0,0,0,.7);
    }
    footer{
        padding: 2.5rem 0;
        background-color: #d7d4ed;
        text-align: center;
        color: rgba(0,0,0,.7);
    }
    .h3{
        position: relative;
        bottom:  350px;
    }
    .h1{
        position: relative;
        
        bottom: 340px;
    }
    .p{
        position: relative;
        left: 45px;
        bottom: 330px;
    }
    .p1{
        position: relative;
        left: 45px;
        bottom: 330px;
    }
    .p2{
        position: relative;
        left: 45px;
        bottom: 320px;
    }
    .btn1{
        background-color: #eb648c;
        border-radius: 2rem;
        color:#fafafa;
        display: inline-block;
        margin-top: 2rem;
        padding: 1rem 2.5rem;
        text-transform: uppercase;
        transition: background-color 650ms;
    
        position: relative;
        left: 45px;
        bottom: 260px;
    }
    .p3{
        position: relative;
        left: 45px;
        bottom: 255px;
    }
    
   
